header{
    border: 1px lightgrey solid;
    border-radius:20px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #ffffff;
}
body{
    background-color: rgb(247, 196, 205);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
}

section.class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
section{
    padding: 32px;
    display: flex;
    border-radius: 100px;
    background-color: aliceblue;
    margin: 10px;
}
section.photo{
    width: 70%;
    margin: auto;
    padding: 70px;
    border-radius: 200px;
    border: 1px lightgrey solid;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
}
ul.listeimage{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    float: right;
}
section.second{
    background-color: rgb(247, 196, 205);
    margin: 10px;
}
#exp{
    border-radius: 200px;
    border: 1px lightgrey solid;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
}

#form{
    flex-direction: column;
    margin-top: 4rem;
    margin: 6rem;
    padding: 2rem;
    border: 1px lightgrey solid;
    border-radius: 30px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #ffffff;
    align-items: center;
    width: 50%;
}
#form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
}
div{
    display: flex;
    flex-direction: column;
}

.nav2 nav ul{
    display:flex;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 5px 10px;
    margin: px 0;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    font-size: medium;
    justify-content: space-evenly;
}
.nav2 nav ul{
    list-style: none;
}
.nav2 nav ul li{
    display:inline-block;
    background-color: rgb(228, 206, 243);
    border-radius: 20px;
    padding: 5px 10px;margin: px 0;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    font-size: medium;
}

@media (max-width: 767px){ /*version mobile*/
    body{
        font-size: 20px;
    }
    nav ul{
        font-size: 10px; /* Taille de police adaptée */
        flex-wrap: wrap;
        display: flex;
        padding: 0,5rem 0,5rem;
        margin: 0,5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
    }
    section.first{
        font-size: 20px;
        flex-wrap: wrap;
        align-items: center;
        max-width: 550px;
        flex-direction: column;
    }
    nav ul li{list-style: none;}
    section.second{
        font-size: 20px;
        flex-wrap: wrap;
        width: auto;
    }
    form{
        font-size: 10px;
        flex-wrap: wrap;
        padding: 1rem;
    }
}

#Navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blueviolet;
    padding: 10px 0;
    text-align: center;
}
#Navigation a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    }
    #Navigation a:hover {
    text-decoration: underline;
    }
html{
    scroll-behavior: smooth;
}
#coordonnees{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px lightgrey solid;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: aliceblue;
    box-sizing: border-box;
}
#coordonnees ul{
    list-style: none;
}
@media (max-width: 1109px) and (min-width:768px){
    body{
        font-size: 20px;
    }
    nav ul{
        font-size: 10px; /* Taille de police adaptée */
        flex-wrap: wrap;
        display: flex;
        padding: 0,5rem 0,5rem;
        margin: 0,5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 550px;
    }
    section.first{
        font-size: 20px;
        flex-wrap: wrap;
        align-items: center;
        max-width: 550px;
        flex-direction: column;
    }
    nav ul li{list-style: none;}
    section.second{
        font-size: 20px;
        flex-wrap: wrap;
    }
    form{
        font-size: 10px;
        flex-wrap: wrap;
        padding: 1rem;
    }
}
@keyframes deplacement {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(1000px) scale(1.5);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}
.first-left{
    animation: deplacement 1s infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.listeimage li{
    animation: rotation 1s infinite
}
.fieldgroup button{
    transition: background-color 1s ease-out;
    background-color: aliceblue;
}
.fieldgroup button:hover{
    background-color: purple;
}
textarea{
    width: 200px;
    height: 200px;
    border-radius: 32px;

}
input{
    border-radius: 30px;
}
#form1{
    width: 60%;
    border-radius: 32px;
}
ul.rs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
ul.rs li img{
    width: auto;
    transition: transform 0.5s ease;
}
ul.rs li img:hover{
    transform: scale(1.5);
}

#form {
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0 2rem;
    border: 1px lightgrey solid;
    border-radius: 30px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #ffffff;
    box-sizing: border-box;
}

.formulaire {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.fieldGroup {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fieldGroup label {
    display: block;
    width: 33%;
    font-weight: bold;
}

.fieldGroup input {
    border-radius: 50px;
    height: 40px;
    border: 1px solid purple;
    flex-grow: 1;
}

.formulaire textarea {
    width: 100%;
    height: 150px;
}
@keyframes clignoter{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
ul.rs li img:hover{
    animation: clignoter 2s infinite;
}