header{
    border: 1px lightgrey solid;
    border-radius:20px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #ffffff;
}
body{
    background-color: rgb(247, 196, 205);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
}

section.class{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
section{
    padding: 30px;
    display: flex;
    border-radius: 200px;
    background-color: aliceblue;
    margin: 20px;
}
section.photo{
    width: 70%;
    margin: auto;
    padding: 70px;
    border-radius: 200px;
    border: 1px lightgrey solid;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
}
ul.listeimage{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    float: right;
}
section.second{
    background-color: rgb(247, 196, 205);
    margin: 10px;
}
section.exp{
    border-radius: 200px;
    border: 1px lightgrey solid;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
}

form{
    margin: 0,5rem 0;
    padding:
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    height: 0 auto;
    border-radius: 20rem;
    padding : 4rem;
    background-color: grey;
    border: solid;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
}
div{
    display: flex;
    flex-direction: column;
}

nav ul{
    display:flex;
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 5px 10px;
    margin: px 0;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    font-size: medium;
    justify-content: space-evenly;
}
nav ul{
    list-style: none;
}
nav ul li{
    display:inline-block;
    background-color: rgb(228, 206, 243);
    border-radius: 20px;
    padding: 5px 10px;margin: px 0;
    font-weight: bold;
    box-shadow: 5px 2px 5px black;
    font-size: medium;
}