body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}


.grid-item {
    background-color: rgb(249, 56, 56 , 0.5);
    color: black;
    display: flex;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    border: 5px dashed white;
    width: calc(25% - 10px); 
    height: 100px; 
    border-radius: 5px;
    text-align: center;
}


@media (max-width: 768px) {
    .grid-item {
        width: calc(50% - 10px); 
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%; 
    }
}
