body.citations{
    font-size: xx-large;
    font-family: fantasy;
    
}
.btn {
    background-color: rgb(243, 217, 217);
    color: black;
    border: 1px solid rgb(243, 217, 217) ;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: gray;
    color: white;
}
.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .btn {
    background-color: black;
    color: white;
}

.dark-mode .btn:hover {
    background-color: gray;
    color: black;
}