html{
   background-color: azure;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex {
    display: flex;
}
#presentation{
    display: flex;
    align-items: center;

}
h1{
    color: rgb(236, 225, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: azure;
}
#presentation .images img {
 width: 30%;
}
#presentation .images{
    background-color: aquamarine;
    width: 30%;
    height: 30%;
}
.expe{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.experiences{
    background-color: rgb(58, 199, 152);
    width: 50%;

}
.flex{
    display: flex;
    color: black;
} 
.gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    list-style: none;
    align-items: flex-start;
   
}
.contacts{
    background-color: rgb(98, 53, 53);
    list-style: none;
    color: rgb(146, 226, 26);
}
#contacts {
    list-style: none;
  
}

#experiences{
  
    display: flex;
    align-items: flex-start;
    width: 100%;
}







