html{
    background-color: rgb(246, 243, 239);
    font-family: fantasy;
}

.flex {
    display: flex
    
}
#navigation{
    display: flex;
   

}
#navigation li{
    display: flex;
    justify-content: start;
}
#navigation ul{
    background-color: rgb(248, 248, 231);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    flex-direction: inherit ;
}
.nav li a:hover{
   color: rgb(249, 235, 239);
}

 .nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
 }
nav ul{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: stretch;
    width: 97%;
    margin: 5px;
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
}
nav ul li{
    
    border: 4px solid rgb(243, 224, 224);
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
}
nav  li a{
    text-decoration: none;
    font-family: fantasy;
    transition: background-color 4s ease-out;
    
}
nav  li a:hover{
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
;
}
.flex{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    justify-content:space-around;
    
}
h1{
    flex-direction: row;
    color: rgb(12, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    justify-content: center;
    
}

p{
    font-family: fantasy;
    font-size: large;
    color: rgb(6, 7, 1);
}



.presentation__separator {
    width: 100%;
    height: 10px;
}
.presentation__separator span {
    display: flex;
    background-color: rgb(225, 114, 54);
    width: 20%;
    height: 100%;
    animation: moveRightToLeft 5s ease infinite; 
    transition: transform 1s ease; 
    
}
 
@keyframes moveRightToLeft {
    0% {
        transform:rotate(50deg);
    }
    25% {
        transform: translateX(450%) rotate(100deg) ;
    }  
    75% {
        transform: rotate(10deg);
    }  
    100% {
        transform: translateX(900%)  rotate(180deg);
    }
 }

#description {

    display: flex;
    flex-direction: row;
    justify-content: start;
}
.images img {
    width: 30%;
    animation: rotation 2s ease infinite;
    
}

@keyframes rotation{
    0%{transform:rotate(45deg)}
    50%{transform: rotate(-45deg);}
    100%{transform: rotate(45deg)}
}
#descriptions .images{
    box-sizing: border-box;
    display: flex;
    width: 80%;
    height: 80%;
}

.separator{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    background-color: rgb(233, 245, 245);
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 100%;
   
}



.nom{

    display: flex;
    margin: 5px;
    padding: 5px;
}
.description p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    
}

.experiences{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #0040ff08;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
    

}
.experiences h2{

    font-size: xx-large;
    justify-content: center;
}
.experiences ul {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    list-style: none;
    font-size: larger;

    
    
}

.experiences li{
    background-color: rgb(243, 224, 224);
    color: black;
    justify-content: start;
    
    padding: .5rem .8rem;
    border-radius: 30px;
    font-size: 16px;
    margin: 5px;
}
.experiences:hover{
    background-color: rgb(243, 224, 224);
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
    
   
}
.gallery ul{
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgb(243, 224, 224);
}
.contacts{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 97%;
    margin: 5px;
    padding: 5px;
    border: 4px solid rgb(243, 224, 224));
    border-radius: 30px;
}

.contacts ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(243, 224, 224) ;
    border-radius: 30px;
    background-color: rgb(243, 224, 224);
   
}

.contacts li{
    margin: 5px;
    padding: 5px;
    background-color: rgb(243, 224, 224);
    
}

.contacts h2{
    font-size: xx-large;
    font-weight: bold;

}


#experiences{
  
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(243, 224, 224);
}

.sectionCoordonneesSocial li{
    list-style: none;
    
}
.formulaire{
    display: flex;
    box-sizing: border-box;
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
    font-size: x-large;
    width: 98%;
    margin: 5px;
    padding: 5px;
}
.formulaire form{
    width: 100%;
}
.field{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: rgb(243, 224, 224);
   
}
.field label{
    width: 30%;
}
.rs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: 4px solid rgb(243, 224, 224);
    border-radius: 30px;
    
}

.reseaux .rs {
    list-style: none; 
    padding: 0; 
    display: flex; 
}

.reseaux .rs li {
    display: inline-block;
}


.reseaux .rs a {
    display: block; 
    width: 40px; 
    height: 40px; 
    transition: opacity 0.3s ease; 
}


.reseaux .rs a:hover {
    opacity: 0.7; 
}

.reseaux .rs a:active {
    opacity: 0.5; 
}







