
html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    scroll-behavior: smooth;
}

h3 {
    font-size: 1.17em;
}

#entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#coordonees {
    margin: 4rem 1.5rem 4rem 1.5rem;
    width: 50%;
    flex-direction:row;
    flex-wrap: wrap;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}
#coordonees h3 {
    padding-left: 1.75rem;
}

#coordonees ul {
    display: flex;
    flex-direction: column;
    padding: 0 2.3rem; 
}

#coordonees .listeCoordonees {
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    font-size: 1rem;
}

#coordonees .listeCoordonees li{
    padding: 0;
    margin: 0;
}

#coordonees ul li span {
    text-decoration: underline;
    font-weight: bold;
    color:#2F242C ;
}

#coordonees .logosCoordonees{
    flex-direction: row;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border-top: 1px #2F242C solid;
}

#coordonees .logosCoordonees li {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin: .5rem 0 0 0;
    padding: .5rem 0 0 0;
    width: 100%;
}

/* border animation coordonees */


/* fin border animation coordonees */

#avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image {
    position-try: relative;
    overflow: hidden;
}

.image img {
    max-width: 325px;
    max-height: 325px;
    transform-origin: center;
    animation: bounce 1.5s infinite;
}

/* animation de l'avatar */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(+100%)
    }
    100% {
        transform: translateY(0);
    }
}

#presentations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}

.pro {
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: .75rem;
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

.pro p {
    display: flex;
    text-justify: distribute;
}

.perso {
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: .75rem;
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

.perso p {
    display: flex;
    text-justify: distribute;
}

#main {
    margin: 0px;
    display: flex;
    flex-direction: row;
    margin: 0px; 
    margin-bottom: 2rem;
    padding: 0px;
}

#experience {
    margin: 2.5rem 1rem 1.5rem 1rem;
    padding: .75rem .75rem 1.75rem .75rem;
    max-width: 100%;
    height: 80%;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: stretch;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

#experience h2 {
    font-weight: bolder;
}

#experience ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#experience li {
    display: flex;
    flex-direction: row;
}

.exp li span {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-decoration: underline;
}

#galerie {
    margin: 2.5rem 1rem 1.5rem 1rem;
    padding: .75rem .75rem 1.75rem .75rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

#galerie h2 {
    font-weight: bolder;
}

.photos {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    background-color: #e4dfdf;
    border-radius: 32px;
    margin-right: 2rem;
}

.photos li img {
    display: flex;
    flex-flow: row-reverse;
    max-width: 300px;
    margin-bottom: 2rem;
}

.photos li img:last-child {
    margin-right: auto;
}

#divers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

#divers .skills {
    margin: .75rem 1rem .75rem 1rem;
    padding: 1.75rem;
    flex-wrap: wrap;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

#divers .skills h2 {
    font-weight: bolder;
}

#divers span{
    text-decoration: underline;
    font-weight: bold;
    color:#2F242C ;
}
#divers .autre {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#divers .autre .langues {
    margin: .75rem 1rem .75rem 1rem;
    padding: .75rem .75rem .75rem 1.5rem;
    max-width: 100%;
    height: 50%;
    flex-wrap: wrap;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

#divers .autre .hobbies {
    margin: .75rem 1rem .75rem 1rem;
    padding: .75rem .75rem .75rem 1.5rem;
    max-width: 100%;
    flex-wrap: wrap;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}

#contact {
    margin: .75rem 1rem .75rem 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #d05eaa;
}

#formulaire {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between; 
    justify-content:space-between;  
    flex-wrap: wrap;  
}

#formulaire h2 {
    padding: 30px;
    font-size: 2rem;
    font-weight: bolder;
}


#formulaire p {
    padding: 0px 30px 0 30px;
    font-size: 1rem;
    flex-wrap: wrap;
    word-break: break-word;
}

#formulaire  input {
    align-content: flex-end;
    justify-items: end;
    border-radius: 36px;
    height: 30px;
    width: 100%;
    border-color: #C179B9 1px solid;
}

.formSaisie {
    margin-top:.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 90%;
}

#formulaire .formButtons {
    margin-top: 2rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formSaisie label {
    width: 33%;
}

#header {
    margin-top: 1.95rem;
}

nav a:hover {
    display: block;
    background-color: #7b5e73; 
    color: #FFFFFF; 
}

.logosCoordonees img {
    transition: transform 0.5s ease;
}

.logosCoordonees img:hover {
    transform: scale(1.5); 
}


nav ul{
    display: flex;
    margin-top: 1.2rem;
    padding: 1rem 1rem;
    margin: 1.2rem 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: block;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    margin: .2rem;
    padding: .2rem;
    width: 90px;
    border-radius: .4rem;
    background-color: #2F242C;
    box-shadow: 7px 7px 9px -7px rgba(0, 0, 0, 0.40);
    font-weight:bold;
}

nav ul li a {
    color: #e5e2e2;
}

#top {
    position: fixed;
    width: 100%;
    max-height: 5%;
    top: 0;
    left: 0;
    padding: .2rem;
    background-color: #7f007f;
    align-content: center;
}

#top ul {
    position: fixed;
    padding: .2rem;
    width: 100%;
    max-height: 5%;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top li {
    list-style: none;
    display: inline;
    float: left;
}

#top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

#top li a:hover {
    background-color: #4c004c;
}

#top img {
    width: 2.2rem;
    margin-right: 0.25rem;
    align-self: center;
}

/* Responsive */

/* Tablettes */
@media (max-width: 1440px) {
body {
font-size: 16px;
}
#avatar img {
    max-width: 275px;
    max-height: 275px;
    justify-content: center;
}
nav ul{
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul:last-child{
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
}

/* Mobiles */
@media (max-width: 767px) {
body {
font-size: 14px;
}
#entete {
    flex-direction: column;
    max-width: 100%;
}
#coordonees {
    margin: 1.5rem 1rem 1.5rem 1rem;
    width: 90%;
}
.listeCoordonees {
    word-break: break-word;
}
#coordonees ul {
    display: flex;
    flex-direction: column;
    padding: 0 .7rem; 
}
#avatar {
    max-width: 100%;
    margin: auto;
    order: -1;
}
#avatar img {
    max-width: 225px;
    max-height: 225px;
}
#presentations {
    flex-direction: column;
}
#experience {
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: .75rem;
}
#galerie {
    margin: 1.5rem 1rem 1.5rem 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border: solid 2px #330033;
    border-radius: 32px;
    box-shadow: 5px 5px 9px -5px rgba(0, 0, 0, 0.53);
    background-color: #e4dfdf;
}
#galerie h2 {
    font-weight: bolder;
}
.photos {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    background-color: #e4dfdf;
    border-radius: 32px;
    margin-right: 1rem;
}
.photos li img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 125px;
    margin-bottom: 1rem;
}
#top {
    max-height: 5%;
    top: 0;
    left: 0;
    padding: .2rem;
}
nav ul{
    padding: 0.5rem 0.5rem;
    margin: .5rem;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul:last-child{
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
}