
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.5rem;
}

section {
    border: 6px  red
}

ul.photos {
    margin: 0px; 
    padding: 0px; 
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}

ul.photos li {
    margin-left: 10px; 
    margin-right: 10px;
    padding: 0;
}

ul.photos li:last-child {
    margin-right: auto;
}

#presentation {
    display: flex;
    margin: 0px; margin-bottom: 4rem;
    padding: 0px;
}

#presentation.left {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#presentation .right {
    flex-direction: row;
    justify-content: space-evenly;
}

#presentation h1 {
    padding: 10px;
    color: rgb(0, 0, 0) ;
    font-size: 45px;
}

#presentation p {
    margin-left: 10px;
}

#main {
    margin: 0px;
    display: flex;
    flex-direction: row;
    margin: 0px; 
    margin-bottom: 2rem;
    padding: 0px;

}

#experience {
    width: 50%;
    background-color: #e5e2e2;
    border-radius: 40px;
}

#experience h2 {
    padding: 30px;
    font-size: 2rem;
    font-weight: bolder;
}

#experience ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#experience li {
    margin-bottom: .6rem;
    margin-left: .4rem;
    border-radius: 30px;
    padding: .6rem 1rem;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #be00be;
    box-shadow: 7px 7px 9px -7px rgba(0, 0, 0, 0.40);
    color: whitesmoke;
    font-weight: bold;
}

#galerie {
    width: 50%;
    margin: 0px;
    padding: 0px 35px 35px 35px;
    justify-content: right;
}

#galerie h2 {
    padding: 30px;
    font-size: 2rem;
    font-weight: bolder;
}

.photos {
    margin-left: 30px;
}

#contact {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#coordonees {
    width:  50%;
    box-sizing: border-box;
}

#coordonees h2 {
    padding: 30px;
    font-size: 2rem;
    font-weight: bolder;
}

#coordonees ul {
    flex-wrap: wrap;
    margin-right: 25px;
    list-style: none;
    font-size: 1.4rem;
    font-weight:bold;
    width: 80%;
}

#coordonees .listeCoordonees {
    flex-wrap: wrap;
    margin-right: 25px;
    list-style: none;
    font-size: 1.4rem;
    font-weight:bold;
    width: 80%;
}

#coordonees .listeCoordonees li{
    border-bottom:#be00be 1px solid;
    padding-bottom: .3rem;
    margin-bottom: .3rem;

}

#coordonees ul li span {
    font-size: .8rem;
    font-style: oblique;
    font-weight: normal;
    color:#be00be ;
}

#coordonees .logosCoordonees{
    margin-top: 1.4rem;
    flex-direction: row;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#coordonees .logosCoordonees li {
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#formulaire {
    width: 50%;
    padding: .4rem .4rem .4rem .4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;  
    flex-wrap: wrap;  
}

#formulaire h2 {
    padding: 30px;
    font-size: 2rem;
    font-weight: bolder;
}

#formulaire p {
    padding: 0px 30px 0 30px;
    font-size: 1rem;
}

#formulaire .form {
    border-radius: 35px;
    padding: 1rem 0;
    background-color: #e5e2e2;
    box-shadow: 7px 7px 9px -7px rgba(0, 0, 0, 0.40);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#formulaire  input {
    align-content: flex-end;
    justify-items: end;
    border-radius: 40px;
    height: 30px;
    width: 300px;
    border-color: #e5e2e2 1px solid;
}

.formSaisie {
    margin-top:.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#formulaire .formButtons {
    margin-top: 2rem;
    width: 30%;
    display: flex;
    flex-direction: row;
}

.formSaisie label {
    width: 33%;
}

nav ul{
    display: flex;
    padding: 1rem 1rem;
    margin: 1rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

nav ul li {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: .4rem;
    padding: .4rem;
    width: 80px;
    border-radius: .4rem;
    background-color: #be00be;
    box-shadow: 7px 7px 9px -7px rgba(0, 0, 0, 0.40);
    font-weight: bolder;
}

nav ul li a {
    color: #e5e2e2;
}