h1{
    color:rgb(255, 81, 0)
}
ul.gallery{
    background-color: rgb(35, 138, 4);
    color: #010111;
    padding: 10px;
    list-style: none;
    margin: 11px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f5ef;
    color: #110202;
    text-align: center;
}
img {
    width: 30px;
    height: auto;
    border-radius: 8px; /* Coins arrondis des images */
    margin: auto;
    
}

p{
    background-color: rgb(214, 106, 5);
    border: 10px solid rgb(173, 10, 10);
}
form{
    padding: 2%;
}
.poli{
    font-family: cursive;
    color: blueviolet;
    margin: 40px;
}

section{
    border:3px solid rgb(156, 22, 22)
}

ol.gallery {
    flex-wrap: wrap;
}
ul{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
li:last-child {
    background-color: blueviolet;
    margin: 100;
}

.games {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.game {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
}

footer {
    background-color: #2f3542;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.image-container {
    margin: 11px;
}
img {
    width: 160px; /* Vous pouvez ajuster la taille des images ici */
    height: auto;
    border-radius: 8px; /* Coins arrondis des images */
}
.bubble {
    background-color: #ffcc00; /* Jaune pour les bulles */
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact-form {
    background-color: #fff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.coordinates {
    background-color: #e7f3fe;
    padding: 20px;
    border-radius: 5px;
}
h2 {
    color: #333;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.garfield{
    display: flex;
    width: 50%;
}

.garfield .odi { 
    background-color: #218838;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: red solid 5px;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.Pirate{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    justify-content: left;
}
.Pirate .jack {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: red solid 5px;
}
.pearl {
    display: flex;
    flex-wrap: wrap;
}
#boite {
    display: flex;
}