
h1{
    color: rgb(88, 27, 27);
    background-color: rgb(211, 199, 199);
    font-size: 22px;
    width: 56%;
    height: 50px;
    padding: 15px 5px 12px 5px;
    border-radius: 50px;
    text-align: center;
}

div p{
    font-size: 30px;

}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    }

h2{
    font-size:larger;
}
section{
    border: px solid rgb(180, 164, 164) ;
}
#presantation{
    width:50%;
}

.moving-image{
    margin-top: 15px;

}


.photo{
margin: 0px; padding: 0px;
display: flex;
justify-content:space-between;
flex-wrap: wrap;
margin: 0.5rem;
list-style: none; 
}


ul.photo li:last-child{
    margin-right: auto;
}
ul.photo li{
    margin: 20px;
    flex-wrap: wrap;
}
p.paragraphe{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#presantation{
    padding: 1.5rem;
    display: flex;
}
#experience{
    background-color: rgb(206, 183, 183);
    border-radius: 100px;
    width: 50%;
    box-sizing: border-box;
    background-color: rgb(197, 180, 183);

}
#experience h2{
    background-color: rgb(165, 140, 140);
    border-radius: 50px;
    padding: 7px;
    width: 40%;
    height: 11%;
    font-size: x-large;
    text-align: center;
    margin:  2.2rem;
    justify-self: center;
}
.exp{
    margin: 5%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.exp li{
    background-color: rgb(168, 70, 106);
    margin: 10px;
    border-radius: 20px;
    padding: 7px;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    font-size: large;
    width: 35%;
    height: 30px;
}
#point{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    justify-content: space-around;
}
#galary{
    width: 49%;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: pink;
    border-radius: 100px;
    
}

#galary h2{
    background-color: rgb(184, 176, 176);
    border-radius: 50px;
    padding: 2%;
    width: 15%;
    text-align: center;
    font-size:xx-large;
    justify-self: center;
    
}



h2{
    justify-content: center;
    margin: 20px;
    height: 10%;
}
    
#coordonnees h2{
    background-color: rgb(155, 137, 137);
    border-radius: 60px;
    padding: 7px;
    width: 30%;
    height: 20%;
    font-size: x-large;

}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; 
}

label {
    margin-bottom: 0.5rem; 
    font-weight: bold; 
}

input, textarea {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem; 
}

textarea {
    resize: none; 
    height: 100px; 
}

button {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}


.envoyer button:hover{
    background-color: blue;
    transition: background-color 2s;
}

#formulaire{
    background-color: rgb(98, 175, 211);
    border-radius: 20px;
    width: 49%;
    font-size: 15px;
    box-sizing: border-box;
}
#formulaire h2{
    font-size: xx-large;
    background-color: aquamarine;
    border-radius: 50px;
    width: 10rem;
    height:50px;
    text-align: center;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 1,2rem;
    border-radius: 70px;
    border: rgb(221, 174, 174) 5px solid;
    background-color: rgb(201, 199, 197);
    margin-top: 5rem;
}

nav ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:.5rem;
    padding: 10px;
    list-style: none;
    height: 30px;
    width: 80px;
    background-color: rgb(231, 236, 238);
    align-items: center;
    
    }
#contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
#coordonnees{
    background-color: rgb(52, 102, 124);
    border-radius: 20px;
    width: 49%;
    border: 10px;
    flex-wrap: wrap;
    font-size: x-large;
    padding: 1.2rem;
    margin-left: 0.5rem;
    box-sizing: border-box;
}
.exercice{
    position: fixed;
    display: block;
    width:100%;
    background-color: rgb(189, 174, 207);
    max-height: 5%;
    padding: 10px 0;
    text-align: center;
    top: 0;
    left: 0;
}
nav ul li:hover{
     background-color: rgb(219, 48, 18);
}
.exp li:hover{
     background-color: brown;
}
.photo :hover{
     background-color: blueviolet;
}
#experience h2:hover{
     background-color: rgb(53, 167, 82);
}
#formulaire h2:hover{
    background-color: black;
 }
 #coordonnees h2:hover{
    background-color: blue;
}
#galary h2:hover{
    background-color: rgb(230, 19, 19);
}
nav ul:hover{
    border-color: black;
}
.moving-image {
    animation: rotation 3s ease infinite; 
}

@keyframes rotation {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    
    100%{
        transform: rotate(90deg);
    }
}
.photo li{
    animation: image 2s ease infinite
}
@keyframes image {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    
    100%{
        transform: rotate(90deg);
    }
}



/* Tablettes */
@media screen and (min-width: 470px) and (max-width: 768px){
    body{
        background-color: rgb(94, 182, 194);
    }
    div p{
        font-size: medium;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
#presantationtext{
    width: 100%;
}

    div h1{
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }

    #galary h2{
        padding: 5%;
        text-align: center;
        height: 5%;
        width: 20%;

       
    }
    #galary{
        width: 100%;
        padding: 10px;


    }
    #experience h2{
        padding: 5px;
        background-color: rgb(62, 54, 133);
        justify-self: center;
        
    }
    .exp li{
        padding: 10px;
        font-size: medium;
        
    }
    #experience{
        margin: 1.2rem;
        width: 100%;

}
.photo{
    flex-wrap: wrap;
}
nav ul li{
    flex-wrap: wrap;
}
ul.photo li{
    flex-wrap: wrap;
}

#coordonnees{
    width: 100%;
    margin-top: 0.8rem;
}
#coordonnees h2{
    width: 50%;
    justify-self: center;
}

#formulaire{
    width: 100%;
    text-align: center;
}
#formulaire h2{
    width: 30%;
    justify-self: center;
}
#contact{
margin-top: 0.8rem;
width: 100%;
}
#nom{
    width: 50%;
    margin-left: 42px;
}
#prenom{
    width: 50%;
    margin-left: 20px;
}
#telephone{
    width: 50%;
    margin-left: 3px;   
}
#message{
    width: 50%;
    margin-left: 15px;
}
label{
    font-size: medium;
    margin-left: 10px;
}
button{
    width: 100%;
    margin-bottom: 10px;
}
}

/* Téléphones */
@media screen and (min-width: 1px) and (max-width: 469px){
    body {
    background-color: lightblue;
    }
    div p{
        font-size: larger;
}  
#galary h2{
    padding: 5%;
    text-align: center;
    height: 5%;
    width: 20%;
}
#formulaire{
    width: 60%;
}
#coordonnees h2{
width: 50%;
}
#presantation{
    width: 98%;
}
nav ul{
    flex-wrap: wrap;
}

}
